/* TOP BAR */

.topBar {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;

  color: white;
  height: 65px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  z-index: 5002;
  padding: 0 20px;

}


.topBar__text-right{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 100%;
  background-color: var(--primary-color-transparent);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  width: 300px;
  
  list-style-type: none;
}

.topBar__text-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
  list-style-type: none;
}

.topBar__text-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  z-index: 5002;
  
  list-style-type: none;
}


.topBar__text-right .topBar__item--small{
  color: #eeeeee;
  margin-bottom: -5px;
  font-size: 15px;
}

.topBar__text-right .topBar__item--large{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: -5px;
 
}

/* BUTTONS */

.button{
  padding: 10px;
  min-height: 40px;
  width: auto;
  background-color: var(--primary-color);
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

.asideBox{
  display: flex;
  align-items: center;
  z-index: 5002;
  text-align: center;
  margin: 0;
  color: white;
  border-radius: 5px;
  background-color: var(--primary-color);
  box-shadow: var(--primary-glow);
}

.infoToggle {
  justify-content: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.customGameToggle{
  cursor: pointer;
  height: 40px;
  width: 140px;
  justify-content: center;
}

/* INPUTS */

.inputContainer{
  justify-content: space-between;
  width: 150px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  height: 70px;
}

.inputContainer input{
  height: 100%;
  background: white;
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  padding: 0 10px;
  font-size: 20px;
  border-radius: 5px;
}


.inputContainer label{
  font-size: 20px;
}

.seedBox input::placeholder{
  color: var(--primary-color);
}

.seedBox a{
  cursor: pointer;
}

/* CONTENT */

.info--container {
  position: absolute;
  z-index: 5001;
  height: 100%;
  width: 100%;
  background-color: #000000aa;
}

.info--contentblock {
  position: absolute;
  padding-top: 80px;
  padding-left: 80px;
  color: white;
  height: 100%;
  width: 50%;
  background: linear-gradient(
    0deg,
    var(--primary-color-transparent),
    var(--primary-color-transparent)
  );
  padding-right: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 750px;
}

.info--contentblock p {
  font-size: 26px;
}

/* RESPONSIVE */

@media only screen and (max-height: 890px) {
  
  .info--contentblock {
    padding-left: 80px;
    width: 100%;

  }

}

@media only screen and (max-width: 750px) {
  .info--contentblock {
    padding-top: 70px;
    min-width: 100%;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    overflow: scroll;
  }
  .info--contentblock p {
    font-size: 1.5rem;
  }
  .info--contentblock h2 {
    font-size: 50px;
  }
  .infoToggle {
    top: 10px;
  }
  .seedBox{
    top: 10px;
  }
  .topBar{
    align-items: flex-start;
    gap: 20px;
    height: auto;
    padding: 0;
  }

  .topBar__text-left{
    padding: 10px;
  }

  .topBar__text-right{
    gap: 20px;
    width: 20%;
    flex-direction: column;
    align-self: flex-end;
  }
  .topBar__text-right .topBar__item{
    width: 100%;
    padding: 5px 5px;
  }
}



@media only screen and (max-width: 600px) {

  .map {
    right: 10px;
    bottom: 50px;
  }

  .map--small {
    height: 25%;
    width: 40%;
    transition: 0.6s all;
  }
  .map--small:hover {
    width: 40%;
    height: 25%;
    transition: 0.6s all;
  }

  .info--contentblock p {
    font-size: 1rem;
  }
  .info--contentblock h2 {
    font-size: 40px;
  }

  .map--large {
    width: 100%;
    height: 50%;
    transition: 0.6s all;
    right: 0;
  }
  .map__toggleIcon {
    display: flex;
  }
  .seedBox{
    left: 60px;
    top: 40px;
  }
  .infoToggle{
    left: 10px;
    top: 40px;
  }
  .asideBox.infoBoxMovement{
    top: 15px;
  }
}


